

{
    "requirePragma": true,
    "overrides": [
        {
            "files": [
                "test/*.js"
            ],
            "options": {
                "trailingComma": "es5",
                "requirePragma": false,
                "tabWidth": 4,
                "semi": true,
                "bracketSpacing": false,
                "printWidth": 120
            }
        }
    ]
}